@import "./variables.scss";

.postPageContainer {
    max-width: 70rem;
    width: 100%;
    margin: auto;
    background-color: rgba($black, .1);
    margin-top: 5rem;
    padding: 3rem 4rem;
    border-radius: .5rem;

    & .container {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & .header {
            h1 {
                font-size: 3rem;
                color: $primary;
            }
        }

        & .body {
            width: 100%;
            margin: 2rem 0;
            font-size: 2.4rem;
        }

        & .footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;

            & .owner {
                width: 100%;
                font-size: 1.8rem;

                display: flex;
                align-items: center;
                justify-content: space-between;

                & .username {
                    color: $primary;
                }

                & .edited {
                    font-size: 1.4rem;
                }
            }

            & .points {
                margin: 3rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 2.5rem;

                & .svg {
                    margin: 0 2rem;
                    width: 2.5rem;
                    height: 2.5rem;

                    &.active,
                    &:hover {
                        svg {
                            fill: $primary;
                        }
                    }

                    & svg {
                        width: 100%;
                        height: 100%;
                    }

                    & .downvote {
                        transform: rotate(180deg);
                    }
                }
            }

            & .options {
                width: 100%;

                & .btnContainer {
                    justify-content: flex-end;
                }
            }
        }
    }
}

.backBtn {
    margin: 2rem 5rem;
}

.formFooter {
    margin-bottom: 5rem;
}