$black:#000;
$white:#fff;
$primary:#0089BA;
$grey:#E6F4F1;


$screen-fourk: 1920px;
$screen-desktop: 1440px;
$screen-tabletL: 1024px;
$screen-tabletP: 786px;
$screen-mobileL: 500px;
$screen-mobileM: 400px;
$screen-mobileS: 350px;